.tableContainer {
  width: 100%;
  background: transparent; /* removed background color */
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: auto; /* horizontal scroll for small screens */
}

/* Hide scrollbar but keep scroll functionality */
.tableContainer::-webkit-scrollbar {
  display: none;
}
.tableContainer {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
