/* components/Navbar.module.css */

.appBar {
  position: static;
  background-color: #191919; /* same as MUI primary */
}

.mobileMenuBox {
  flex-grow: 1;
  display: flex;
}

.mobileMenuBoxHidden {
  display: none;
}

.logoTitle {
  flex-grow: 1;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}

.desktopMenuBox {
  display: none;
  gap: 16px; /* spacing between buttons */
}

.desktopMenuBoxVisible {
  display: flex;
}

.menuIconSpacing {
  margin-right: 8px;
}
