.chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible; /* Prevent clipping */
}

@media (max-width: 768px) {
  .chartWrapper {
    transform: scale(0.8);
  }
}
