.dashboardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
}

@media (max-width: 1199px) {
  .dashboardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dashboardGrid {
    grid-template-columns: 1fr;
  }
}
